<!DOCTYPE html>
<html lang="en">
   <head>
      <% include ./partials/head.ejs %>
      <style>
         .noteTextArea {
            margin: 15px 0;
            padding: 0 60px;
            width: 100%;
         }

         .noteTextArea .chapterName {
            margin-top: 120px;
            text-align: center;
            font-size: 32px;
            padding-bottom: 10px;
            color: #000000;
            line-height: 30px;
            padding-top: 20px;
            padding-bottom: 20px;
         }

         .noteTextArea .chapterName span {
            background: -webkit-linear-gradient(45deg, #bb37bb, #fda97b);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
         }

         .noteTextArea p {
            font-size: 16px;
            color: #464545;
         }

         .SelectChapter {
            position: relative;
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px 10px;
         }

         .SelectChapter .chMainDev {
            background: #f7f7f7;
            border-radius: 5px;
            position: relative;
            flex-basis: 70%;
            box-shadow: 0 4px 10px 4px #4b4b4b27;
            display: flex;
            justify-content: left;
            flex-direction: column;
            padding: 5px 8px;
         }

         .SelectChapter .chMainDev .chapter-box {
            width: 100%;
            position: relative;
            padding: 16px 20px;
            margin: 6px 0;
            background: #fff;
            cursor: pointer;
            box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.123);
            line-height: 20px;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.3s ease;
            overflow: hidden;
            /* height: fit-content; */
         }

         .SelectChapter
            .chMainDev
            .chapter-box
            .SelectChapter
            .chMainDev
            .chapter-box
            h3 {
            font-size: 18px;
         }

         .SelectChapter .chMainDev ul li {
            list-style: none;
            margin-top: 6px;
            padding: 10px 3px;
            cursor: pointer;
            font-weight: 500;
            border-bottom: 1px solid #cfcfcf;
            transition: 0.3s ease;
            font-size: 14.8px;
            border-radius: 3px;
         }

         .SelectChapter .chMainDev ul li:hover {
            background: #00000015;
            transform: scale(1.005);
         }

         .SelectChapter .chMainDev ul li a {
            text-decoration: none;
            color: #000b69;
         }

         @media only screen and (max-width: 900px) {
            .SelectChapter .chMainDev {
               flex-basis: 90%;
            }
         }

         @media only screen and (max-width: 700px) {
            .noteTextArea {
               padding: 0 16px;
               margin: 10px 0;
            }

            .SelectChapter .chMainDev {
               flex-basis: 99%;
            }
         }

         @media only screen and (max-width: 500px) {
            .SelectChapter .chMainDev ul {
               font-size: 16.6px;
               padding: 10px;
            }
         }

         @media only screen and (max-width: 400px) {
            .noteTextArea .chapterName {
               margin-top: 100px;
               /* font-size: 27px; */
               font-weight: 800;
            }

            .noteTextArea {
               padding: 0 10px;
            }

            .SelectChapter .chMainDev ul {
               font-size: 16.6px;
            }
         }

         @media only screen and (max-width: 413px) {
            .noteTextArea .chapterName {
               font-size: 27px;
            }
         }
         .engCont {
            margin-top: 30px;
            width: 100%;
            padding: 0 70px;
         }
         .engCont p {
            margin-bottom: 5px;
            font-size: 15px;
         }
         @media only screen and (max-width: 600px) {
            .engCont {
               padding: 0 8px;
            }
         }
      </style>
   </head>
   <body>
      <% include ./partials/navbar.ejs %>

      <section class="noteTextArea">
         <h1 class="chapterName">
            KPK Boards Ninth Class <span><%= subjectName %></span> Notes
         </h1>
         <p>
            If you need 9th Class Khyber Pakhtunkhwa chapter wise PDF notes. You
            are here on right website for best and excellent notes of Khyber
            Pakhtunkhwa Boards. All of these boards are helpful for easy
            preparations. These <%= subjectName %> subject notes of 9th class
            are important for all students. Both Arts and Science Group Students
            can easily preparations by These <%= subjectName %> Subject
            Notes.MashalWeb always provides best and top study notes that are
            easily to learn and study. Now days there are many expensive books
            or Notes are available in the Market. Many students cannot pay to
            purchase all of those notes. So,MashalWeb provides <%= subjectName
            %> Subject notes to students and teachers in PDF of 9th Class.
         </p>
      </section>

      <section class="SelectChapter" id="parent">
         <div class="chMainDev" id="<%= subjectName %>"></div>
      </section>
      <div class="engCont"></div>
      <script>
         // Ninth Class All Notes Data

         const NinthClass = {
            English: [
               {
                  ChapterName:
                     "Chapter 1 → Prophet Muhammad S.A.W the Model of Tolerance",
                  urls: [
                     {
                        urlName:
                           "Full Chapter Translation | Question Answer | Notes",
                        url: "https://drive.google.com/file/d/1NXSwWrEpc3gF2s4rxSrJhG4LFi9vl5Gt/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 2 → Iqbal Message to Youth",
                  urls: [
                     {
                        urlName:
                           "Full Chapter Translation | Question Answer | Notes",
                        url: "https://drive.google.com/file/d/1H--f2w9D2TZTn61SqfDU6JLDLHpYnt8q/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 3 → Quaid - A Great Leader",
                  urls: [
                     {
                        urlName:
                           "Full Chapter Translation | Question Answer | Notes",
                        url: "https://drive.google.com/file/d/196AGZ909tq1-8TuZ2MKi9CXRIQg9ygfr/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 4 → The Daffodils",
                  urls: [
                     {
                        urlName:
                           "Full Chapter Translation | Question Answer | Notes",
                        url: "https://drive.google.com/file/d/1zXfJX3FGRb_xUWC9EPbNw-B2txrKGDiT/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 5 → The Madina Charter",
                  urls: [
                     {
                        urlName:
                           "Full Chapter Translation | Question Answer | Notes",
                        url: "https://drive.google.com/file/d/1lcoR9mLdQQxMdOyrefhBLg9H92S7sTqZ/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 6 → Nasiruddine",
                  urls: [
                     {
                        urlName:
                           "Full Chapter Translation | Question Answer | Notes",
                        url: "https://drive.google.com/file/d/1aLNY_cjnPJi53rWmQAE--s2wnBQUlVo_/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 7 → The Two Bargains",
                  urls: [
                     {
                        urlName:
                           "Full Chapter Translation | Question Answer | Notes",
                        url: "https://drive.google.com/file/d/1LDHC8bedPIm4kptVuNlqeczbJswYhCUd/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 8 → Hope is the Thing With Feathers",
                  urls: [
                     {
                        urlName:
                           "Full Chapter Translation | Question Answer | Notes",
                        url: "https://drive.google.com/file/d/16iAZYj4ICluc37dIfHCUgeQlR7UXPtko/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 9 → The Fantastic Showmaker",
                  urls: [
                     {
                        urlName:
                           "Full Chapter Translation | Question Answer | Notes",
                        url: "https://drive.google.com/file/d/1EyxSQdHC33tQdlUOxs64dp1LvNzPc263/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 10 → Thecnology in Everyday Life",
                  urls: [
                     {
                        urlName:
                           "Full Chapter Translation | Question Answer | Notes",
                        url: "https://drive.google.com/file/d/1Au3HFs-FEpgJe6ZRi26fbWSgLOE5gxGw/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 11 → Safety First",
                  urls: [
                     {
                        urlName:
                           "Full Chapter Translation | Question Answer | Notes",
                        url: "https://drive.google.com/file/d/1cqarw_RjMM536lD7xZDeYUas8aXoYHcT/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 12 → The Old Woman",
                  urls: [
                     {
                        urlName:
                           "Full Chapter Translation | Question Answer | Notes",
                        url: "https://drive.google.com/file/d/1K3FpuUhrC03sLVJ4r75LJL88ABL-GYT3/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 13 → Letter to Newspaper Editor",
                  urls: [
                     {
                        urlName:
                           "Full Chapter Translation | Question Answer | Notes",
                        url: "https://drive.google.com/file/d/1Q1LY_qMbmjIA5zS25QMWdgeL86F5vrW7/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 14 → Biodiversity In Pakistan",
                  urls: [
                     {
                        urlName:
                           "Full Chapter Translation | Question Answer | Notes",
                        url: "https://drive.google.com/file/d/1p4nh3fE2s7H7ra_mifkQg2mYJuMIKts-/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 15 → Abou Ben Edhem",
                  urls: [
                     {
                        urlName:
                           "Full Chapter Translation | Question Answer | Notes",
                        url: "https://drive.google.com/file/d/1drfvd5JozU4x5QPgrzHwmJFMPqKUBJwO/view",
                     },
                  ],
               },
               {
                  ChapterName: "English Grammar Notes",
                  urls: [
                     {
                        urlName: "Applications",
                        url: "https://drive.google.com/file/d/1namTHmZYbnZ1TMHS4Q4KCmwwYxVL4HVT/view",
                     },
                     {
                        urlName: "Idiomatic, Sentences / Model Sentence",
                        url: "https://drive.google.com/file/d/1D0IYi2GVnvuPPwht0wFB9k39Vp_NQhDQ/view",
                     },
                     {
                        urlName: "Important Proverbs",
                        url: "https://drive.google.com/file/d/1qGcNk04_TJDR4JOp0W9t2lCbbd6JzBwp/view",
                     },
                     {
                        urlName: "Letters",
                        url: "https://drive.google.com/file/d/15Z9uxNj3BuMiapirDLljH3G7cp8i67vH/view",
                     },
                     {
                        urlName: "Stories",
                        url: "https://drive.google.com/file/d/1C-xvgUOXNorrXcH0sSwY4Yrq39Nse__2/view",
                     },
                  ],
               },
            ],
            Urdu: [
               {
                  ChapterName: "Chapter 1 → Hijrat e Nabwi Notes ",
                  urls: [
                     {
                        urlName: "Solved Questions &amp; Answers",
                        url: "https://drive.google.com/file/d/1y6vqmeMKipy-VI5wNcwrOtWZka0-YBD8/view",
                     },
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/11LZQTUUjS8YZcmVYY-gP5KCsZT8xZlMm/view",
                     },
                     {
                        urlName: "Complete Lesson Tashreeh",
                        url: "https://drive.google.com/file/d/1Jd0-XNgXfb0rbYvcWpozUyIsYJRofAf2/view",
                     },
                  ],
               },
               {
                  ChapterName:
                     "Chapter 2 → Mirza Ghalib k Aadaat o Khasail Notes ",
                  urls: [
                     {
                        urlName: "Solved Questions &amp; Answers",
                        url: "https://drive.google.com/file/d/1G7lB66lscd9Q9behb8WMqoOI3jqICGgT/view",
                     },
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1MECgMttfQYGhPhLm6es8iFN6A0hGlJOt/view",
                     },
                     {
                        urlName: "Complete Lesson Tashreeh",
                        url: "https://drive.google.com/file/d/18emuEUcNBDr_C30WAglA-QpY-hgd3EpA/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 3 → Kahili Notes ",
                  urls: [
                     {
                        urlName: "Solved Questions &amp; Answers",
                        url: "https://drive.google.com/file/d/1oO8pYLhHak99nJwr-Y1rMHiYfV46OzZ9/view",
                     },
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1dbEwPxipk9vy483aJjOmy9-_JmfdYjjl/view",
                     },
                     {
                        urlName: "Complete Lesson Tashreeh",
                        url: "https://drive.google.com/file/d/1Ml9jJuppnu7ihEzjAqUcaaaSZZ-iMmt5/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 4 → Shairoo k Lateefay Notes ",
                  urls: [
                     {
                        urlName: "Solved Questions &amp; Answers",
                        url: "https://drive.google.com/file/d/1mncKDsKmGdT-k0pcXfrZi8gqBgvAsOZu/view",
                     },
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1885mRxgCx1cHIp6xPqaOPmalQ5lSAjPA/view",
                     },
                     {
                        urlName: "Complete Lesson Tashreeh",
                        url: "https://drive.google.com/file/d/16L2OVWMa_XXj-yuB9sVkdgJ8tbZEa1xF/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 5 → Nasoo aur Saleem ki Guftugu Notes ",
                  urls: [
                     {
                        urlName: "Solved Questions &amp; Answers",
                        url: "https://drive.google.com/file/d/17_vOeJzJYDd0a6mPoFHr-TVmkXFni5Fh/view",
                     },
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1Y3YW_0eAUoQZyZ5w-XCDB0iKvLtfjv0H/view",
                     },
                     {
                        urlName: "Complete Lesson Tashreeh",
                        url: "https://drive.google.com/file/d/1Ctg8BGMhRHojedewJnMVq_hyWXy8z9Jx/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 6 → Panchaiyat Notes ",
                  urls: [
                     {
                        urlName: "Solved Questions &amp; Answers",
                        url: "https://drive.google.com/file/d/1QBNvDWci9aw4fRWm6tnCmyzUhT14Kikq/view",
                     },
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1HpRBHpc6Vmro2BOJf3uTziBDLaoeA1ko/view",
                     },
                     {
                        urlName: "Complete Lesson Tashreeh",
                        url: "https://drive.google.com/file/d/1MQMUZ2eoUXh-lNWxtn_Wziengj2XU122/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 7 → Araam o Sukoon Notes ",
                  urls: [
                     {
                        urlName: "Solved Questions &amp; Answers",
                        url: "https://drive.google.com/file/d/193wxTXJ2-2isG2FPFkkT3OHZmYk7pphf/view",
                     },
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1HDBbtjFgAfAFkxWTVpMN8_d67NJKcv2G/view",
                     },
                     {
                        urlName: "Complete Lesson Tashreeh",
                        url: "https://drive.google.com/file/d/1avm1PO_oWyH0TlUoy6KuH166prpaOAbP/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 8 → Lahu aur Qaleen Notes ",
                  urls: [
                     {
                        urlName: "Solved Questions &amp; Answers",
                        url: "https://drive.google.com/file/d/1zuKXLgK_A17boRyYqei78XtCdzj39ha8/view",
                     },
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/15BrbNAHz1cypLQOhZtrX7Fshbx80TZN_/view",
                     },
                     {
                        urlName: "Complete Lesson Tashreeh",
                        url: "https://drive.google.com/file/d/1P3BQm0upZZzsdFWEtL5j4Ajs74cjpX8r/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 9 → Imtehaan Notes ",
                  urls: [
                     {
                        urlName: "Solved Questions &amp; Answers",
                        url: "https://drive.google.com/file/d/12YCeF2KwkQrtUM2NfUM0hwK4FaiVBDZL/view",
                     },
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1q8DeqBWpZbmcvDskcU-1RTokcf-bX1F4/view",
                     },
                     {
                        urlName: "Complete Lesson Tashreeh",
                        url: "https://drive.google.com/file/d/1sh5nptJUuC2e82ECKA0AOwVNCUdvEtP3/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 9 → Imtehaan Notes ",
                  urls: [
                     {
                        urlName: "Solved Questions &amp; Answers",
                        url: "https://drive.google.com/file/d/12YCeF2KwkQrtUM2NfUM0hwK4FaiVBDZL/view",
                     },
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1q8DeqBWpZbmcvDskcU-1RTokcf-bX1F4/view",
                     },
                     {
                        urlName: "Complete Lesson Tashreeh",
                        url: "https://drive.google.com/file/d/1sh5nptJUuC2e82ECKA0AOwVNCUdvEtP3/view",
                     },
                  ],
               },
               {
                  ChapterName:
                     "Chapter 10 → Mulki Parinday aur Doosray Janwar Notes ",
                  urls: [
                     {
                        urlName: "Solved Questions &amp; Answers",
                        url: "https://drive.google.com/file/d/1Cq2KJOr9vxwBITdXx-6LM17kB2M354bB/view",
                     },
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1pLhB_nrP88uCnqXD3OrXI_HD1UCFp7bB/view",
                     },
                     {
                        urlName: "Complete Lesson Tashreeh",
                        url: "https://drive.google.com/file/d/1BxqTPSXtYHHsX6y5J8-7iY3nd9XIRwJI/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 11 → Qadr e Ayaz Notes ",
                  urls: [
                     {
                        urlName: "Solved Questions &amp; Answers",
                        url: "https://drive.google.com/file/d/1UW-mX9LNqp9SIbMqAEkhL7kHPfz_MOKC/view",
                     },
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1b7yqqw10k45KMFb8-LtnIpi3S_i9G5Gf/view",
                     },
                     {
                        urlName: "Complete Lesson Tashreeh",
                        url: "https://drive.google.com/file/d/1fMG9qkf2THXzoLhsKZ8copgYD91kpHHs/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 12 → Hausla Na Haaro Agay Barho Notes ",
                  urls: [
                     {
                        urlName: "Solved Questions &amp; Answers",
                        url: "https://drive.google.com/file/d/1UW-mX9LNqp9SIbMqAEkhL7kHPfz_MOKC/view",
                     },
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1gdCcVvgzNDhXwimBLUbtz9Fv8baShSUH/view",
                     },
                     {
                        urlName: "Complete Lesson Tashreeh",
                        url: "https://drive.google.com/file/d/1fMG9qkf2THXzoLhsKZ8copgYD91kpHHs/view",
                     },
                  ],
               },
               {
                  ChapterName: "Ghazal 1 → Hasti Apni Habab Ki Si Hai Notes",
                  urls: [
                     {
                        urlName: "Full Ghazal Notes",
                        url: "https://drive.google.com/file/d/1svzkcyMv7bf9HRkZspCvsJ49wKMMHLtz/view",
                     },
                     {
                        urlName: "Ghazal Questions &amp; Answers",
                        url: "https://drive.google.com/file/d/1CN0RMp2Jaa_ckWov81-RUj4gLmBbbS5-/view",
                     },
                     {
                        urlName: "Complete Ghazal Tashreeh",
                        url: "https://drive.google.com/file/d/1w7BPlGdBOeIa1NpQi4vvo2YlRyyTrBWn/view",
                     },
                  ],
               },
               {
                  ChapterName: "Ghazal 2 → Rukh O Zulf Pr Jaan Khoya Hai Notes",
                  urls: [
                     {
                        urlName: "Full Ghazal Notes",
                        url: "https://drive.google.com/file/d/1nnijK67Iix9ja2bym5ZP6Q6y5lGfEwfj/view",
                     },
                     {
                        urlName: "Ghazal Questions &amp; Answers",
                        url: "https://drive.google.com/file/d/1ouZfGxWI3G881_AUcrrtnvLy7drbYSKM/view",
                     },
                     {
                        urlName: "Complete Ghazal Tashreeh",
                        url: "https://drive.google.com/file/d/1Om5-F6LiGEmiiAhH2q_7O0vJpzC536ct/view",
                     },
                  ],
               },
               {
                  ChapterName: "Ghazal 3 → Dil Nadaan Tujay Hua Kia Hai Notes",
                  urls: [
                     {
                        urlName: "Full Ghazal Notes",
                        url: "https://drive.google.com/file/d/1UCEjRjYUKIMsXdRIZjmkVHr9hNB9b4AZ/view",
                     },
                     {
                        urlName: "Ghazal Questions &amp; Answers",
                        url: "https://drive.google.com/file/d/1ZNbWyQKT_nO-MVNck8PF5fpnNsOe0DvZ/view",
                     },
                     {
                        urlName: "Complete Ghazal Tashreeh",
                        url: "https://drive.google.com/file/d/1Om5-F6LiGEmiiAhH2q_7O0vJpzC536ct/view",
                     },
                  ],
               },
               {
                  ChapterName:
                     "Ghazal 4 → Lagta Ni Hai Dil Mera Ujray Diyaar Mein Notes",
                  urls: [
                     {
                        urlName: "Full Ghazal Notes",
                        url: "https://drive.google.com/file/d/1-lJgZUQCtesnxbQOVTuoQd0rwgtm6Qyt/view",
                     },
                     {
                        urlName: "Ghazal Questions &amp; Answers",
                        url: "https://drive.google.com/file/d/1vZyJYoOuDt4Tig-85U-rjlXSNQ4lDcnz/view",
                     },
                     {
                        urlName: "Complete Ghazal Tashreeh",
                        url: "https://drive.google.com/file/d/1SEUCmFPCxS7iXK7ckjKZTjpwDzHk9fun/view",
                     },
                  ],
               },
               {
                  ChapterName: "Nazam 1 → Hamd Notes",
                  urls: [
                     {
                        urlName: "Full Nazam Notes",
                        url: "https://drive.google.com/file/d/1qm-nbFR4Zc1XvTCYWZrhl4Km_5Kl9X_Z/view",
                     },
                     {
                        urlName: "Nazam Questions &amp; Answers",
                        url: "https://drive.google.com/file/d/1h4e0fZaDW8nQHDIUpYVfpJntIoCsvP_L/view",
                     },
                     {
                        urlName: "Complete Nazam Tashreeh",
                        url: "https://drive.google.com/file/d/1X6KPdZSVfJmiNY8ACKvsbhBidn029ODa/view",
                     },
                  ],
               },
               {
                  ChapterName: "Nazam 2 → Naat Notes",
                  urls: [
                     {
                        urlName: "Full Nazam Notes",
                        url: "https://drive.google.com/file/d/11vYwBU-Jz4ZiABbHg8vVJCH9X8u8ANl1/view",
                     },
                     {
                        urlName: "Nazam Questions &amp; Answers",
                        url: "https://drive.google.com/file/d/1cS9uWXfUSEjDTGPspIn16h4Zkfgh1d8R/view",
                     },
                     {
                        urlName: "Complete Nazam Tashreeh",
                        url: "https://drive.google.com/file/d/1CfvzK25tdQcNs-c7z90xWxLMzAWaMW3G/view",
                     },
                  ],
               },
               {
                  ChapterName: "Nazam 3 → Barsaat ki Baharain Notes",
                  urls: [
                     {
                        urlName: "Full Nazam Notes",
                        url: "https://drive.google.com/file/d/1tzhe5lpoD9aBU1YfTQ-wlzViaAZHWYcJ/view",
                     },
                     {
                        urlName: "Nazam Questions &amp; Answers",
                        url: "https://drive.google.com/file/d/15sGLfj8VQO7MUgRLklcSihz9-bDyLkMn/view",
                     },
                     {
                        urlName: "Complete Nazam Tashreeh",
                        url: "https://drive.google.com/file/d/1NjhFpCzx64oZSG4vS3sK2lO8vLqwjz04/view",
                     },
                  ],
               },
               {
                  ChapterName:
                     "Nazam 4 → Pewasta Reh Shajar Se Umeed Bahar Rakh Notes",
                  urls: [
                     {
                        urlName: "Full Nazam Notes",
                        url: "https://drive.google.com/file/d/1yCde_CADE4qvsa2M_aelzrwtTu4-8yIf/view",
                     },
                     {
                        urlName: "Nazam Questions &amp; Answers",
                        url: "https://drive.google.com/file/d/1hZQcjCLHOIL8w0OUB8JEx3nUEL3XUD13/view",
                     },
                     {
                        urlName: "Complete Nazam Tashreeh",
                        url: "https://drive.google.com/file/d/1hL9FytC1h576awOKdipYLL85mI8uNIon/view",
                     },
                  ],
               },
               {
                  ChapterName: "Nazam 5 → Shuhada Peshawar K Liye Nazm Notes",
                  urls: [
                     {
                        urlName: "Full Nazam Notes",
                        url: "https://drive.google.com/file/d/1PTaIgOFnDrHJXNE5jOKHtCxkPZyMIPIt/view",
                     },
                  ],
               },
               {
                  ChapterName: "URDU Grammar Notes",
                  urls: [
                     {
                        urlName: "URDU Grammar Notes",
                        url: "https://drive.google.com/file/d/1TijPqwmDmvF-B4R6FWdmDvXmlwnHUtYf/view",
                     },
                     {
                        urlName: "URDU Grammar Essay Notes",
                        url: "https://drive.google.com/file/d/1IntnRyk3IFoRwmO0mjzL997WcnHskNjl/view",
                     },
                     {
                        urlName: "URDU Grammar Letters Notes",
                        url: "https://drive.google.com/file/d/16YHPLH9A4sKO-iFJrv403pZeckrn5_wq/view",
                     },
                     {
                        urlName: "URDU Grammar MCQs Notes",
                        url: "https://drive.google.com/file/d/1GUOftZp3fAetW5pBPJMiVnC1AUtcHpF1/view",
                     },
                     {
                        urlName: "URDU Grammar Stories Notes",
                        url: "https://drive.google.com/file/d/1K0fKwvog_RgJm_nIpG2rs9up7Ew0FY0b/view",
                     },
                  ],
               },
            ],
            ComputerScience: [
               {
                  ChapterName: "Chapter 1 → Fundamentals of Computer ",
                  urls: [
                     {
                        urlName: "Solved Questions &amp; Answers",
                        url: "https://drive.google.com/file/d/1pmvC96dMpXfDRo6I_AjkwwbMpYS351Pj/view",
                     },
                     {
                        urlName: "Full Exercise Solved",
                        url: "https://drive.google.com/file/d/18WCbjyyugN_EcYMrU2mUouTLygEekWR3/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 2 → Fundamentals of Operating System ",
                  urls: [
                     {
                        urlName: "Solved Questions &amp; Answers",
                        url: "https://drive.google.com/file/d/1hIPWnX1Nh3n0CCsFhd1e3Zt9TEJrOt5i/view",
                     },
                     {
                        urlName: "Full Exercise Solved",
                        url: "https://drive.google.com/file/d/1qTttwMZ3tvtlapBLpGDEFXZnLV_FDEK9/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 3 → Office Automation ",
                  urls: [
                     {
                        urlName: "Full Exercise Solved",
                        url: "https://drive.google.com/file/d/1seR8kPu7decpVILisXpgEXhKaVpJadiK/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 4 → Data Communication ",
                  urls: [
                     {
                        urlName: "Solved Questions &amp; Answers",
                        url: "https://drive.google.com/file/d/10CXKFV9kSymDV5_Uix-tcO3zUuNABSkp/view",
                     },
                     {
                        urlName: "Full Exercise Solved",
                        url: "https://drive.google.com/file/d/1Qjq2QSu0DCu5NpFpKqsL0PeJClAWCQdh/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 5 → Computer Networks ",
                  urls: [
                     {
                        urlName: "Solved Questions &amp; Answers",
                        url: "https://drive.google.com/file/d/1aGML_DcxFQvbbC1e6L8UIdTFogdJ1bSv/view",
                     },
                     {
                        urlName: "Full Exercise Solved",
                        url: "https://drive.google.com/file/d/1_KxG7Fng7FXlhJyYDUXdLxQv3WMg98Eb/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 6 → Computer Security and Ethics ",
                  urls: [
                     {
                        urlName: "Solved Questions &amp; Answers",
                        url: "https://drive.google.com/file/d/19BTEWuinYIUyhy01xRtCwELCP3GqeSPK/view",
                     },
                     {
                        urlName: "Full Exercise Solved",
                        url: "https://drive.google.com/file/d/18WvtDTK_ssJVQdC6Mt54VRDill_PlX2T/view",
                     },
                  ],
               },
               {
                  ChapterName: "Full Book Important Abbreviations Notes ",
                  urls: [
                     {
                        urlName: "full Book Exercise Notes",
                        url: "https://drive.google.com/file/d/1txHcHXP09KWBWpyqmC9i-w_lrSwryriL/view",
                     },
                  ],
               },
               {
                  ChapterName: "Full Book Glossary Definitions Notes ",
                  urls: [
                     {
                        urlName: "all Exercises Glossary Notes",
                        url: "https://drive.google.com/file/d/1JiyVBaag5PguWtMFJPx7DCYbM1wPkM_E/view",
                     },
                  ],
               },
            ],
            Islamyat: [
               {
                  ChapterName: "Quran Majeed Portion ",
                  urls: [
                     {
                        urlName: "Surah Al Anfaal Ayaat 1-10 URDU Medium Notes",
                        url: "https://drive.google.com/file/d/1Wwvc3Dsi4_5KXcKrnbY7Vzw4wMk0_I9Y/view",
                     },
                     {
                        urlName:
                           "Surah Al Anfaal Ayaat 11-19 URDU Medium Notes",
                        url: "https://drive.google.com/file/d/1IzD3gcMuyDxk5HrSc1WEZN_wE4g7Rskx/view",
                     },
                     {
                        urlName:
                           "Surah Al Anfaal Ayaat 29-37 URDU Medium Notes",
                        url: "https://drive.google.com/file/d/1IRpb58DJ2EUpcsxYj2tErJU4Lc7ribib/view",
                     },
                     {
                        urlName:
                           "Surah Al Anfaal Ayaat 38-44 URDU Medium Notes",
                        url: "https://drive.google.com/file/d/16WNR7n-c4cPN9wDmhSZ-7flXhi86NNo0/view",
                     },
                     {
                        urlName:
                           "Surah Al Anfaal Ayaat 45-48 URDU Medium Notes",
                        url: "https://drive.google.com/file/d/1aDLjZFo_6u46XD3t_rBQ-EsS_dhw5Y6V/view",
                     },
                     {
                        urlName:
                           "Surah Al Anfaal Ayaat 49-58 URDU Medium Notes",
                        url: "https://drive.google.com/file/d/1Q4kjzVz_wk8AQqzL9JbP_xlMepFIX62h/view",
                     },
                     {
                        urlName:
                           "Surah Al Anfaal Ayaat 59-64 URDU Medium Notes",
                        url: "https://drive.google.com/file/d/1v-H41A4yqZRLCFblVEYfMXnEQLcrRUm0/view",
                     },
                     {
                        urlName:
                           "Surah Al Anfaal Ayaat 65-69 URDU Medium Notes",
                        url: "https://drive.google.com/file/d/1S5yRwb3LkY3n-JMdaDxmXgA4EFzIFBxI/view",
                     },
                     {
                        urlName:
                           "Surah Al Anfaal Ayaat 70-75 URDU Medium Notes",
                        url: "https://drive.google.com/file/d/1LlGTdjTqOPW9tvvsxMy8nOHxdA-AyinO/view",
                     },
                     {
                        urlName: "Surah Al Anfaal Solved MCQs With Answers",
                        url: "https://drive.google.com/file/d/1KBlRMClH0_OutHe_WSS3G6UJ-nTgYGpJ/view",
                     },
                     {
                        urlName: "Surah Al Anfaal Solved Chapter Notes",
                        url: "https://drive.google.com/file/d/1gsw42vYr494Vs0bJnO2UxnsHSAfI-cKe/view",
                     },
                  ],
               },
               {
                  ChapterName: "Ahadees Portion ",
                  urls: [
                     {
                        urlName: "Ahdeeth MCQs Solved Notes",
                        url: "https://drive.google.com/file/d/1tqHFYMaXdrNhQp68ol03FSYDWokx0YUl/view",
                     },
                     {
                        urlName: "Ahdeeth Solved Question Answers",
                        url: "https://drive.google.com/file/d/1IbRPmg6D10UfQoXKp5znW-eIXxKr2EqN/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 1 ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1dfKb2W-BxAbrD6R605ppNSNC7ttukGTy/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 2 ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1goqcd3kwSoz6BPhedo2jXKvFIU81egeI/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 3 ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1295rLXqo0JhJx54zNnO7Sf6l5UaIIbh3/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 4 ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1eCV7M-FH-Sz1gfjYk0QIYfrfUwYMoDBv/view",
                     },
                  ],
               },
               {
                  ChapterName: "Important Questions & Answers ",
                  urls: [
                     {
                        urlName:
                           "Islamiyat Past Papers Question Answers Test 1",
                        url: "https://drive.google.com/file/d/1GAI3BFHeA5kIjPzU6nbdLJKGNifswUja/view",
                     },
                     {
                        urlName:
                           "Islamiyat Past Papers Question Answers Test 2",
                        url: "https://drive.google.com/file/d/1D17vhzrwVcWfxrjNmyYhKVY-B2saTNlV/view",
                     },
                  ],
               },
            ],
            PakStudy: [
               {
                  ChapterName:
                     "Chapter 1 → Ideological Basis of Pakistan Notes ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1Wz7uyrs13G2Ye9SfbegIEhWEp3lNHsCc/view",
                     },
                     {
                        urlName: "Objective Type MCQs With Answers",
                        url: "https://drive.google.com/file/d/1jqfFAllnbPnLGVhRAHAQ_5AUPnJQhoa8/view",
                     },
                     {
                        urlName: "Short Questions & Answers",
                        url: "https://drive.google.com/file/d/1A2O4oZSmbPYA6QXk0HnM5Bdiuk6qqVHg/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 2 → Making of Pakistan Notes ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1RUzSg5aL1dmKw2wQc2cVDE68FmXAQlCb/view",
                     },
                     {
                        urlName: "Objective Type MCQs With Answers",
                        url: "https://drive.google.com/file/d/1_MAZQiY83LH3QwzSvU-JaE1_2u-EKuIS/view",
                     },
                     {
                        urlName: "Short Questions & Answers",
                        url: "https://drive.google.com/file/d/15EsPOHCVo7PXLapJNe2eIiUUdS-gFDPi/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 3 → Land and Environment Notes ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1YhgbjNj12Osv30ho_N9wP_dJdVt52J6p/view",
                     },
                     {
                        urlName: "Objective Type MCQs With Answers",
                        url: "https://drive.google.com/file/d/1XghZfw3cX0AAFaRojflGHedfHJvNtJfT/view",
                     },
                     {
                        urlName: "Short Questions & Answers",
                        url: "https://drive.google.com/file/d/1uSJy0b1umLxGIZY_o42dHXx1dSw2T_Cq/view",
                     },
                  ],
               },
               {
                  ChapterName:
                     "Chapter 4 → History of Pakistan (Part-1) Notes ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1dyEsXOtVaOR5TKcr0jznpnw4QipBN5Fd/view",
                     },
                     {
                        urlName: "Objective Type MCQs With Answers",
                        url: "https://drive.google.com/file/d/1IEtvRH1ThN-z7MdQIS1QQIXqVJuYtLiX/view",
                     },
                     {
                        urlName: "Short Questions & Answers",
                        url: "https://drive.google.com/file/d/1NQSbGUlZTABnm75EP8KDRv_SCqueT7D6/view",
                     },
                  ],
               },
               {
                  ChapterName:
                     "Full Book Important Maps for Exams Papers Notes ",
                  urls: [
                     {
                        urlName: "Pakistan Maps Important Notes",
                        url: "https://drive.google.com/file/d/1TZ5E32marhQV5JJnn_v3TzHGgknb5dzn/view",
                     },
                  ],
               },
            ],
            Biology: [
               {
                  ChapterName: "Chapter 1 → Introduction To Biology ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1EiTkxmm13cXfx734cVXNXkUFcKI_qDXe/view",
                     },
                     {
                        urlName: "Short Question & Answers",
                        url: "https://drive.google.com/file/d/1nxwGF4TiJWbc5PDzidrPBX2G37Kp6dNL/view",
                     },
                     {
                        urlName: "Unit one Important Definitions",
                        url: "https://drive.google.com/file/d/1v_gcviKgKSr9NuCDBr26AzsSyMuYuTC6/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 2 → Solving A Biological Problem ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1yY4bxFkEKmDie74MYTCW1XsglyHZiyZ4/view",
                     },
                     {
                        urlName: "Short Question & Answers",
                        url: "https://drive.google.com/file/d/1raE-NC2V5mkDWeESoyHtfSCwqAlhKraq/view",
                     },
                     {
                        urlName: "Objective Type MCQs With Answers",
                        url: "https://drive.google.com/file/d/1qeRjuf7drulY0xvIkjXhdp-aEgfnOcI0/view",
                     },
                     {
                        urlName: "Full Chapter Terminology Definitions",
                        url: "https://drive.google.com/file/d/1rM2EMH-xGLGZskVgO9gBBvuoM6OCc-ez/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 3 → Biodiversity ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1AKyVDC8NItfTv1g83i53il5XvMp5sQzr/view",
                     },
                     {
                        urlName: "Short Question & Answers",
                        url: "https://drive.google.com/file/d/15dnPU8kfeqpRQYqGMdYIcmRo7p517HjU/view",
                     },
                     {
                        urlName: "Objective Type MCQs With Answers",
                        url: "https://drive.google.com/file/d/1F5T7bNCqSN3C8ycg8dCwGruU1iDGB1va/view",
                     },
                     {
                        urlName: "Full Chapter Terminology Definitions",
                        url: "https://drive.google.com/file/d/1PiPfoQLfa1vw8PVa2ZtV5W94hHbr1hKb/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 4 → Cells and Tissues ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1dv30_eN_n3_YHCUAkhSx009zZZf6nEAq/view",
                     },
                     {
                        urlName: "Short Question & Answers",
                        url: "https://drive.google.com/file/d/1Lg6YAZFAMzRO2BV7A-gjRAW0DyDYcz3X/view",
                     },
                     {
                        urlName: "Objective Type MCQs With Answers",
                        url: "https://drive.google.com/file/d/1YqiZZg46uQx7Wvk0CCWE8mi1TwPndJJn/view",
                     },
                     {
                        urlName: "Full Chapter Terminology Definitions",
                        url: "https://drive.google.com/file/d/14zdUGSSwpPmmDfutQNhWYXQe6LCOKb75/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 5 → Cell Cycle ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1ZoMlB4Mp9kIKAjDXJSCy6L-5ZdgaUX2Z/view",
                     },
                     {
                        urlName: "Short Question & Answers",
                        url: "https://drive.google.com/file/d/1yZW8ocCZrId-iKNoif14lSzxaSW6_Q51/view",
                     },
                     {
                        urlName: "Objective Type MCQs With Answers",
                        url: "https://drive.google.com/file/d/1CO0t2558ZC9OAllprGgvwMcga5cypH7u/view",
                     },
                     {
                        urlName: "Full Chapter Terminology Definitions",
                        url: "https://drive.google.com/file/d/1EhKDwe29QQUiFfsWxu89ba3xGJ6GMrE5/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 6 → Enzymes ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1-LDIqw7isjHawCYCnescM3PBrD3I3cbr/view",
                     },
                     {
                        urlName: "Short Question & Answers",
                        url: "https://drive.google.com/file/d/1qbY8SnCKIX2HxiRNXgwDI0VtzHGoc6nm/view",
                     },
                     {
                        urlName: "Objective Type MCQs With Answers",
                        url: "https://drive.google.com/file/d/1rTHTa9halE5wF8lZEvjm0LQ7d-t9XERe/view",
                     },
                     {
                        urlName: "Full Chapter Terminology Definitions",
                        url: "https://drive.google.com/file/d/1PB3cTfXyKvSf6JYSsUyl1lnlqZTCM-eH/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 7 → Bioenergetics ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1BZBHI9XhRdGbx_3p7RaiyITivM4vsDIR/view",
                     },
                     {
                        urlName: "Short Question & Answers",
                        url: "https://drive.google.com/file/d/1z1oQuAjQQ6tRQ92SeiIqTs-iJVarqUGz/view",
                     },
                     {
                        urlName: "Objective Type MCQs With Answers",
                        url: "https://drive.google.com/file/d/1w00LjX0WMI7GYbmhWx0C-ZEBmKw5-UR_/view",
                     },
                     {
                        urlName: "Full Chapter Terminology Definitions",
                        url: "https://drive.google.com/file/d/12b0ENJOnbvTr7LNohvHLwHGtxF0nlkRC/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 8 → Nutrition ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1Uxx5lYUV3epwuVbcHTVz9GfLuupcHoUa/view",
                     },
                     {
                        urlName: "Short Question & Answers",
                        url: "https://drive.google.com/file/d/1lm2QaAAm6wC70A9X63nuVqwU6XZpad1_/view",
                     },
                     {
                        urlName: "Objective Type MCQs With Answers",
                        url: "https://drive.google.com/file/d/1ePWUMKp_wCsNN276077Y4qhRgZHIEuqK/view",
                     },
                     {
                        urlName: "Full Chapter Terminology Definitions",
                        url: "https://drive.google.com/file/d/19hlAE9eph3XZielEl3BRs_RLuFRWNEop/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 9 → Transport ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/13JeInU6ySL33bx-c6VZHl3OKkOqYZJjo/view",
                     },
                     {
                        urlName: "Short Question & Answers",
                        url: "https://drive.google.com/file/d/1O4KEOihq9A0-Dw07bo65wB4yhMUlmzr2/view",
                     },
                     {
                        urlName: "Objective Type MCQs With Answers",
                        url: "https://drive.google.com/file/d/1rW93d4DxpmtQAet_FvvfP5yVbI-sVmpl/view",
                     },
                     {
                        urlName: "Full Chapter Terminology Definitions",
                        url: "https://drive.google.com/file/d/119dtEGBV7ea5VuKKGifce1qqBu_2nCnw/view",
                     },
                  ],
               },
               {
                  ChapterName: "9th Biology Full Book Terminology Notes ",
                  urls: [
                     {
                        urlName: "Full Book Abbreviations Definitions",
                        url: "https://drive.google.com/file/d/1fA7S9kE-_zRJaIjzJn0YF0N6tePee0pn/view",
                     },
                  ],
               },
            ],
            Chemistry: [
               {
                  ChapterName: "Chapter 1 → Fundamentals of Chemistry ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1SpNnAYsUZ7MQ_WtgzUl70kRwqAQ5lRzt/view",
                     },
                     {
                        urlName: "Short Question & Answers",
                        url: "https://drive.google.com/file/d/1nHjqo559xl4JGHoaQ0Mt-K1yVD2fbQ6y/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 2 → Structure of Atoms ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/18JF6gKzMsMFXB-GpOPhYoJ2FQnhSXPKn/view",
                     },
                     {
                        urlName: "Short Question & Answers",
                        url: "https://drive.google.com/file/d/1k2D4NNu12q8iUumIbFFZIq8mjT8w8HKO/view",
                     },
                  ],
               },
               {
                  ChapterName:
                     "Chapter 3 → Periodic Table & Periodicity of Properties ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1JWZB9KPWpwdnk1t9GQv3_rlvflksHjuq/view",
                     },
                     {
                        urlName: "Short Question & Answers",
                        url: "https://drive.google.com/file/d/1vSIKHnuuUK3nhuob7aaBxFq0VtKz1dJd/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 4 → Structure of Molecules ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1frHaY1RT8x08AzZu_2W7U_VCgtuxwRbN/view",
                     },
                     {
                        urlName: "Short Question & Answers",
                        url: "https://drive.google.com/file/d/11cdOvhd8HWEIDsPI6QmDLCb9K1rmMZR-/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 5 → Physical States of Matter ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1N5DVENs78T2DpowMrVdv2IZRHY2Rp9KV/view",
                     },
                     {
                        urlName: "Short Question & Answers",
                        url: "https://drive.google.com/file/d/13qt0gKoctmXlXHfPqJV-FvsHsybbDdV7/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 6 → Solutions ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1Wvd5xlQdB9QmQLAbgHVkKHSc_fg2pYYv/view",
                     },
                     {
                        urlName: "Short Question & Answers",
                        url: "https://drive.google.com/file/d/1uA39PKQKCbKPSOZ0Cb6Vb_DOc6R8PnzC/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 7 → Electrochemistry ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1aWOaT2zUo8AT0OrXBMvjHLzzArP6rYLi/view",
                     },
                     {
                        urlName: "Short Question & Answers",
                        url: "https://drive.google.com/file/d/1rxKuMHUqRO0islS95HbjsvSDzMHYmV1a/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 8 → Chemical Reactivity ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1C2OEbTvqPRxrLdr-i8RYCumMafSCGvNF/view",
                     },
                     {
                        urlName: "Short Question & Answers",
                        url: "https://drive.google.com/file/d/1wJH_Fw6SeuSoCrKMPg3pFEzLV-rEXSUe/view",
                     },
                  ],
               },
               {
                  ChapterName: "Full Book Glossary Definitions ",
                  urls: [
                     {
                        urlName: "Full Book Terminology Definitions",
                        url: "https://drive.google.com/file/d/1I7tJgWP1vFlmOO6Elc7uWkpMfBOThwkl/view",
                     },
                  ],
               },
            ],
            Physics: [
               {
                  ChapterName:
                     "Chapter 1 → Physical Quantities & Measurement Notes ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1iNfCm8zZtqkRwnfaK8qHfOZKr-leTq-D/view",
                     },
                     {
                        urlName: "Numerical Problems Notes",
                        url: "https://drive.google.com/file/d/19a2HgxBCLjmeZvGgC0L7dT-lzvp6UTRn/view",
                     },
                     {
                        urlName: "Short Questions & Answers",
                        url: "https://drive.google.com/file/d/15PmCVaByFIiABel0UCtFpcFNv8WlxYc8/view",
                     },
                     {
                        urlName: "Objective Type MCQs",
                        url: "https://drive.google.com/file/d/1ReANamUs85eqKiN_jn9yYaQgNssDxjBu/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 2 → Kinematics Notes ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1nXAHrQs8AdmfORHLIliJ_sq-t13C2Iy_/view",
                     },
                     {
                        urlName: "Numerical Problems Notes",
                        url: "https://drive.google.com/file/d/1wmT5PF3cfmlTSq6xd-G2pB3iXJA6b3vH/view",
                     },
                     {
                        urlName: "Short Questions & Answers",
                        url: "https://drive.google.com/file/d/1A9e6Kd3y_QJwmrl3rJmEVHBz3SaO7P9O/view",
                     },
                     {
                        urlName: "Objective Type MCQs",
                        url: "https://drive.google.com/file/d/1Xi5ouoRx12BZukc0Ja8vX4U9O98_D12-/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 3 → Dynamics Notes ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1kcnQAS1Jea1XxqHGXryu0BXFRpaJJ6ej/view",
                     },
                     {
                        urlName: "Numerical Problems Notes",
                        url: "https://drive.google.com/file/d/1Cl9A-gI8Gc9STrjFuW9iYgDPC4cgK6KC/view",
                     },
                     {
                        urlName: "Short Questions & Answers",
                        url: "https://drive.google.com/file/d/10_h7tfrgaeeWbGUFOp6XN4G-OJanBj7_/view",
                     },
                     {
                        urlName: "Objective Type MCQs",
                        url: "https://drive.google.com/file/d/1jmOvZ3i8bp7C--v5cXXICt5WjzHE9C2Y/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 4 → Turning Effect of Forces Notes ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1dJO7wv3inBOohNFsOr0p3ZrxP5U8_DFl/view",
                     },
                     {
                        urlName: "Numerical Problems Notes",
                        url: "https://drive.google.com/file/d/1N2yrLE2kW3oNz8FY2SZpcjr6wwA0j2YH/view",
                     },
                     {
                        urlName: "Short Questions & Answers",
                        url: "https://drive.google.com/file/d/1Z1l6SQH0qvXPsAuj8fhmwST70tOXRRv-/view",
                     },
                     {
                        urlName: "Objective Type MCQs",
                        url: "https://drive.google.com/file/d/1FeQuKv_7F7YAfzusQ3bmvdkm3zVTGsej/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 5 → Gravitation Notes ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/16mrjC8RRNuY_1npNxO0wTVuK4sSnf43d/view",
                     },
                     {
                        urlName: "Numerical Problems Notes",
                        url: "https://drive.google.com/file/d/1RB5P0FSMOZ8S8uarMJAhVzY9zODs5FHf/view",
                     },
                     {
                        urlName: "Short Questions & Answers",
                        url: "https://drive.google.com/file/d/1cv41ddV9O-cg6H4xDPRAmpOhNtkuG3Tl/view",
                     },
                     {
                        urlName: "Objective Type MCQs",
                        url: "https://drive.google.com/file/d/19qEsN-OarfGPs_ta6P-5nCk-h19SN-LI/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 6 → Work & Energy Notes ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1KuDndVnBO6rxxM3C_tPMkapsh9iGX2xP/view",
                     },
                     {
                        urlName: "Numerical Problems Notes",
                        url: "https://drive.google.com/file/d/1-HqpixwlxfRJuANVZp8l2INfVbZCo8Wt/view",
                     },
                     {
                        urlName: "Short Questions & Answers",
                        url: "https://drive.google.com/file/d/1JsD2vYCLrfzih_soY-iWjfQNiWvW0JHV/view",
                     },
                     {
                        urlName: "Objective Type MCQs",
                        url: "https://drive.google.com/file/d/1eQMLhZ14B_f0tVYKvyydRsfOW6KKaNqU/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 7 → Properties of Matter Notes ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1fBpXpWOcbbksElG22B0jNCpw-d1Z-jug/view",
                     },
                     {
                        urlName: "Numerical Problems Notes",
                        url: "https://drive.google.com/file/d/1lLy2NiB3Vg1lfhZ_l17-wXpM7az5QGev/view",
                     },
                     {
                        urlName: "Short Questions & Answers",
                        url: "https://drive.google.com/file/d/1OXOBtEhJsjL80pj6yRqd-iX9bxZLnjkg/view",
                     },
                     {
                        urlName: "Objective Type MCQs",
                        url: "https://drive.google.com/file/d/1Yw5mXhvcrac1TqBE0Wpa4DnQL1yEjsnv/view",
                     },
                  ],
               },
               {
                  ChapterName:
                     "Chapter 8 → Thermal Properties of Matter Notes ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/199QD-jTAQry69prFqmpjrUYOMNBoUaEz/view",
                     },
                     {
                        urlName: "Numerical Problems Notes",
                        url: "https://drive.google.com/file/d/1gnVv7Y_yT6FMu5IeQUteObOogNCPRYhz/view",
                     },
                     {
                        urlName: "Short Questions & Answers",
                        url: "https://drive.google.com/file/d/1WjcWK_oQRwl7g70nomqzJE9kFwdzLepq/view",
                     },
                     {
                        urlName: "Objective Type MCQs",
                        url: "https://drive.google.com/file/d/17yqB8j-yUTGMczx211D11S8hV-SVwAoq/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 9 → Transfer of Heat Notes ",
                  urls: [
                     {
                        urlName: "Full Chapter Notes",
                        url: "https://drive.google.com/file/d/1LOGn7BVjUOBjlJ5cWDHzfg5Td2R0HCuC/view",
                     },
                     {
                        urlName: "Numerical Problems Notes",
                        url: "https://drive.google.com/file/d/1ilYTjH0jfnANllg3mJTQGGMPk25d1XZD/view",
                     },
                     {
                        urlName: "Short Questions & Answers",
                        url: "https://drive.google.com/file/d/1uK6Epgr7zp3LQ1uxz15-e-z5jwFmcevF/view",
                     },
                  ],
               },
               {
                  ChapterName: "Full Book Definitions Glossary Notes ",
                  urls: [
                     {
                        urlName: "Full Book Definitions Glossary",
                        url: "https://drive.google.com/file/d/1KvQEtkKKgBfQd7ZfxNctsqvfEPRLn2mI/view",
                     },
                  ],
               },
            ],
            Maths: [
               {
                  ChapterName: "Chapter 1 → Matrices & Determinants ",
                  urls: [
                     {
                        urlName: "Exercise 1.1 Notes",
                        url: "https://drive.google.com/file/d/1DMGyHbnIwH02MsY1Yc6Z5GA4eGvxVp9w/view",
                     },
                     {
                        urlName: "Exercise 1.2 Notes",
                        url: "https://drive.google.com/file/d/1cgEY2KthjBPH_7pxV3-IwCHrZ-QqcEu_/view",
                     },
                     {
                        urlName: "Exercise 1.3 Notes",
                        url: "https://drive.google.com/file/d/1dIFFz-neAJw6xOIfhaqAccyfT5tjlbwe/view",
                     },
                     {
                        urlName: "Exercise 1.4 Notes",
                        url: "https://drive.google.com/file/d/1IyxCJYv7Qze4aDdJaGjdEBjdrWxQV2n5/view",
                     },
                     {
                        urlName: "Exercise 1.5 Notes",
                        url: "https://drive.google.com/file/d/1E9HlUMupBFfs_juOgF8Hg3HX1kqirrQ1/view",
                     },
                     {
                        urlName: "Exercise 1.6 Notes",
                        url: "https://drive.google.com/file/d/1nzPOQ-AU-dhZ36DeB1QnaX-pXpYooEbs/view",
                     },
                     {
                        urlName: "Review Exercise Solved MCQs Notes",
                        url: "https://drive.google.com/file/d/1g_K2VIQuXPKbSXyZ9PYnbBnKkJsfxX8U/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 2 → Real and Complex Numbers ",
                  urls: [
                     {
                        urlName: "Exercise 2.1 Notes",
                        url: "https://drive.google.com/file/d/1kCFUQIW3QwqBy8c8fKeotE-hOG14iUXx/view",
                     },
                     {
                        urlName: "Exercise 2.2 Notes",
                        url: "https://drive.google.com/file/d/1RLR4LVp-VRNk-Ta-_IKkoyaA9v13whOP/view",
                     },
                     {
                        urlName: "Exercise 2.3 Notes",
                        url: "https://drive.google.com/file/d/1oR99O2YtrM2DzWMGLTivt1IYDt0GDBeC/view",
                     },
                     {
                        urlName: "Exercise 2.4 Notes",
                        url: "https://drive.google.com/file/d/1Y82TUUMRxiWGmlYg5qYDIhBuWBGfTd9H/view",
                     },
                     {
                        urlName: "Exercise 2.5 Notes",
                        url: "https://drive.google.com/file/d/1RdOeg2n_6kxyKRJy0oYu8U-JtT_6yihl/view",
                     },
                     {
                        urlName: "Exercise 2.6 Notes",
                        url: "https://drive.google.com/file/d/1Zn93sA_tpIdJwiLmXf9icgXX-OikoKmM/view",
                     },
                     {
                        urlName: "Review Exercise Solved MCQs Notes",
                        url: "https://drive.google.com/file/d/1pPCPHU6qy6z-nz4p6OlZHQ-dE_QdJvrH/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 3 → Logarithms ",
                  urls: [
                     {
                        urlName: "Exercise 3.1 Notes",
                        url: "https://drive.google.com/file/d/1DkmCjNNC6E23i8tZri85aZ3wEnXK8wqA/view",
                     },
                     {
                        urlName: "Exercise 3.2 Notes",
                        url: "https://drive.google.com/file/d/1nybY5moSEjTfwWk-QJSGsAFpuBqryc5E/view",
                     },
                     {
                        urlName: "Exercise 3.3 Notes",
                        url: "https://drive.google.com/file/d/1lSwuoyBiuxfu5qchyxJNp0z6kcpZWLNO/view",
                     },
                     {
                        urlName: "Exercise 3.4 Notes",
                        url: "https://drive.google.com/file/d/1naqGGe5HQnMxjuaYpblFooYkga2L1ETL/view",
                     },
                     {
                        urlName: "Review Exercise Solved MCQs Notes",
                        url: "https://drive.google.com/file/d/1DlZdTUXaVqP20P88qjZvdnjPutf5mqd-/view",
                     },
                  ],
               },
               {
                  ChapterName:
                     "Chapter 4 → Algebraic Expressions & Algebraic Formulas ",
                  urls: [
                     {
                        urlName: "Exercise 4.1 Notes",
                        url: "https://drive.google.com/file/d/1xp-1rsLMLb4kCUuE7aBsiOow289QHfRu/view",
                     },
                     {
                        urlName: "Exercise 4.2 Notes",
                        url: "https://drive.google.com/file/d/1PdLaDqK7xudeBCESffrtbVDCe7xQanKQ/view",
                     },
                     {
                        urlName: "Exercise 4.3 Notes",
                        url: "https://drive.google.com/file/d/1NWZbWgeAdKZiyaeuLNcfeCmYcPIDM--2/view",
                     },
                     {
                        urlName: "Exercise 4.4 Notes",
                        url: "https://drive.google.com/file/d/169mXzyrbqDuPVDRkPeou8fiwHPavruyn/view",
                     },
                     {
                        urlName: "Review Exercise Solved MCQs",
                        url: "https://drive.google.com/file/d/1pvjdRqQk7Qpv8t9iLVH3R5ABrO52wXFo/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 5 → Factorization ",
                  urls: [
                     {
                        urlName: "Exercise 5.1 Notes",
                        url: "https://drive.google.com/file/d/1MHVksIbKJOSQBmtjZqzTFWXFksPzGq75/view",
                     },
                     {
                        urlName: "Exercise 5.2 Notes",
                        url: "https://drive.google.com/file/d/1gI4EuFFtHeN5HeN8iI8NrQLHZhQTXL7G/view",
                     },
                     {
                        urlName: "Exercise 5.3 Notes",
                        url: "https://drive.google.com/file/d/1SNKmugdEO0xV9gV_-VZZhoxitPyojoYl/view",
                     },
                     {
                        urlName: "Exercise 5.4 Notes",
                        url: "https://drive.google.com/file/d/1aX6QVxRf1FzrC1LDgjuoWd16HBTcxUt7/view",
                     },
                     {
                        urlName: "Review Exercise Solved MCQs",
                        url: "https://drive.google.com/file/d/1yH5L5qPmjFe9yRBtJK8Rdb21ZlPRIK75/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 6 → Algebraic Manipulations ",
                  urls: [
                     {
                        urlName: "Exercise 6.1 Notes",
                        url: "https://drive.google.com/file/d/1pPSL44TjY9X_eFA2uWkNCNaO8umvr2ji/view",
                     },
                     {
                        urlName: "Exercise 6.2 Notes",
                        url: "https://drive.google.com/file/d/1IEyMgr9oaplujbh8d5CgM1XhngUOW9kq/view",
                     },
                     {
                        urlName: "Exercise 6.3 Notes",
                        url: "https://drive.google.com/file/d/13TVZhdLwZDzeOSQHbMZXtOyILIgMztle/view",
                     },

                     {
                        urlName: "Review Exercise Solved MCQs",
                        url: "https://drive.google.com/file/d/1YgDMuBB93VC-oZdF2nevnJHrcg2NVf3T/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 7 → Linear Equations & Inequalities ",
                  urls: [
                     {
                        urlName: "Exercise 7.1 Notes",
                        url: "https://drive.google.com/file/d/1WGb4_wESb4k1SaPQahpKn3RifhVvg4xb/view",
                     },
                     {
                        urlName: "Exercise 7.2 Notes",
                        url: "https://drive.google.com/file/d/1XhsKr2r1Amw6gSGcdcKFhMfcgFulUZuw/view",
                     },
                     {
                        urlName: "Exercise 7.3 Notes",
                        url: "https://drive.google.com/file/d/1tOHfCGLWVm05Ux7NuUGQD9qAugqBSoxM/view",
                     },

                     {
                        urlName: "Review Exercise Solved MCQs",
                        url: "https://drive.google.com/file/d/1wzPeUwjO9yS-LE3ZkSQWns0Xm7OhfDpu/view",
                     },
                  ],
               },
               {
                  ChapterName:
                     "Chapter 8 → Linear Graphs and Their Applications ",
                  urls: [
                     {
                        urlName: "Exercise 8.1 Notes",
                        url: "https://drive.google.com/file/d/1U9GgURqtoNHjmulr2s440Zh5_ZS1fZXr/view",
                     },
                     {
                        urlName: "Exercise 8.2 Notes",
                        url: "https://drive.google.com/file/d/1jVM8JStNmP5JUicHUFdVNsaUnIkPAXXu/view",
                     },
                     {
                        urlName: "Exercise 8.3 Notes",
                        url: "https://drive.google.com/file/d/1OVe01sk-cnAOwrd_SMZtwjFT8XQ2xwvg/view",
                     },

                     {
                        urlName: "Review Exercise Solved MCQs",
                        url: "https://drive.google.com/file/d/1sjw7Sqz0DMqnbMfdrOF51jup6WGyKzyp/view",
                     },
                  ],
               },
               {
                  ChapterName:
                     "Chapter 9 → Introduction To Coordinate Geometry ",
                  urls: [
                     {
                        urlName: "Exercise 9.1 Notes",
                        url: "https://drive.google.com/file/d/1BRLJNy697vWp12voz7V5usYDKQvJ5zhr/view",
                     },
                     {
                        urlName: "Exercise 9.2 Notes",
                        url: "https://drive.google.com/file/d/1O7UK2-KsZmXxm4lrRDEJesvvrLoR_ukg/view",
                     },
                     {
                        urlName: "Exercise 9.3 Notes",
                        url: "https://drive.google.com/file/d/1JRQtkziKDzlfgvo9jaDGpYnYLVq5hYhh/view",
                     },

                     {
                        urlName: "Review Exercise Solved MCQs",
                        url: "https://drive.google.com/file/d/1u5BQAQSxG_RGwlGhkdL3E2auARFZcnOp/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 10 → Congruent Triangles ",
                  urls: [
                     {
                        urlName: "Exercise 10.1 Notes",
                        url: "https://drive.google.com/file/d/1LiUahi5b_K_6nu-1OWkN5piV9PQa36MH/view",
                     },
                     {
                        urlName: "Exercise 10.1.1 Notes",
                        url: "https://drive.google.com/file/d/1_-y7QF2GIVzSwAj5NXpwrfQyupwe4kVK/view",
                     },
                     {
                        urlName: "Exercise 10.1.2 Notes",
                        url: "https://drive.google.com/file/d/1Z0Caz2x89d0MaoMAII4X3z5TSnL56cPT/view",
                     },
                     {
                        urlName: "Exercise 10.1.3 Notes",
                        url: "https://drive.google.com/file/d/1XDKNbb8fzi-ml1gvIXZ71vkyxfKto8sq/view",
                     },
                     {
                        urlName: "Exercise 10.1.4 Notes",
                        url: "https://drive.google.com/file/d/1CBj2TFJlY57wqP-teRAtCvA7QcQNTk55/view",
                     },
                     {
                        urlName: "Exercise 10.2 Notes",
                        url: "https://drive.google.com/file/d/1PLo1XhSMmZ7w8Vx5I7DlsFK8iWUCN0CT/view",
                     },
                     {
                        urlName: "Exercise 10.3 Notes",
                        url: "https://drive.google.com/file/d/1N2R9oFVrXiDUZsjaWfyO5Mh-ndQ_CRZH/view",
                     },
                     {
                        urlName: "Exercise 10.4 Notes",
                        url: "https://drive.google.com/file/d/1ayt4Shgc6skGlxhkAzGqPlru8q3p06F-/view",
                     },

                     {
                        urlName: "Review Exercise Solved MCQs",
                        url: "https://drive.google.com/file/d/13LEnGotAa_JpWYTkaCwpgUEDlwMWyrAI/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 11 → Parallelograms and Triangles ",
                  urls: [
                     {
                        urlName: "Exercise 11.1 Notes",
                        url: "https://drive.google.com/file/d/1PaID30CA6CnaONcz9r25ZS0Ge5J0TMLI/view",
                     },
                     {
                        urlName: "Theorem 11.1.1 Notes",
                        url: "https://drive.google.com/file/d/1Kl8TAJYzKzC9LLGptCux0vUFWS0NI38u/view",
                     },
                     {
                        urlName: "Theorem 11.1.2 Notes",
                        url: "https://drive.google.com/file/d/1Y4oJ_RMlnq4VmzEaxS2HCTGvgrCyCzgw/view",
                     },
                     {
                        urlName: "Theorem 11.1.3 Notes",
                        url: "https://drive.google.com/file/d/1KD0MoJXYwOM0GuZj4GlUyOMfNaMs7ctD/view",
                     },
                     {
                        urlName: "Theorem 11.1.4 Notes",
                        url: "https://drive.google.com/file/d/1Z7FneGueLKR7-q1SYPgpk8eK8_zsSHBk/view",
                     },
                     {
                        urlName: "Theorem 11.1.5 Notes",
                        url: "https://drive.google.com/file/d/1Lhs0xl-D2_hwlUiXzTztxKpweEVBXZqj/view",
                     },
                     {
                        urlName: "Exercise 11.2 Notes",
                        url: "https://drive.google.com/file/d/16BfowuPeh7J-tIMACjPUOdWGsSr7nUt1/view",
                     },
                     {
                        urlName: "Exercise 11.3 Notes",
                        url: "https://drive.google.com/file/d/1XbSpfqyaR4sxX7RZVJzAAX9ezEyB3bhk/view",
                     },
                     {
                        urlName: "Exercise 11.4 Notes",
                        url: "https://drive.google.com/file/d/1aWh6dYBEi7o_B-s9vZ6pmUG5qRStD93i/view",
                     },

                     {
                        urlName: "Review Exercise Solved MCQs",
                        url: "https://drive.google.com/file/d/1jLAuVvOC86iAQKfyMlYkpdhegYZty1zq/view",
                     },
                  ],
               },
               {
                  ChapterName:
                     "Chapter 12 → Line Bisectors and Angle Bisectors ",
                  urls: [
                     {
                        urlName: "Exercise 12.1 Notes",
                        url: "https://drive.google.com/file/d/1ze21siphpK1tWOV5T7OHQISHGvTlhH1F/view",
                     },
                     {
                        urlName: "Theorem 12.1.1 Notes",
                        url: "https://drive.google.com/file/d/1bxbOKl2nS3y4uzVboPUV6fgB1WWUGa_u/view",
                     },
                     {
                        urlName: "Theorem 12.1.2 Notes",
                        url: "https://drive.google.com/file/d/1nJj_UHCeuaMmkG2qF0MvdNhZCBCFDhet/view",
                     },
                     {
                        urlName: "Theorem 12.1.3 Notes",
                        url: "https://drive.google.com/file/d/12mCfxNkOblx3-IOGPvDbxR9k2JYjtKaX/view",
                     },
                     {
                        urlName: "Theorem 12.1.4 Notes",
                        url: "https://drive.google.com/file/d/18osbWCwPyMLcRGB4U79-ww7gNxHhj6j_/view",
                     },
                     {
                        urlName: "Theorem 12.1.5 Notes",
                        url: "https://drive.google.com/file/d/10T9c13nvD44P5-u21TF4lco7exlbExUw/view",
                     },
                     {
                        urlName: "Theorem 12.1.6 Notes",
                        url: "ttps://drive.google.com/file/d/1k0ZM9KsfwA1_9tAQPOZQH8r-9NIRJ1sE/view",
                     },
                     {
                        urlName: "Exercise 12.2 Notes",
                        url: "https://drive.google.com/file/d/1qKYV7ezvT7Uy3LKze5jb-UP5tFkLNZG7/view",
                     },
                     {
                        urlName: "Exercise 12.3 Notes",
                        url: "https://drive.google.com/file/d/1bJGERnjkinYwBPCxkKzAYU3r4HO4F4uS/view",
                     },

                     {
                        urlName: "Review Exercise Solved MCQs",
                        url: "https://drive.google.com/file/d/1JBNHpZ7Q2r6W4HBvfbve4aTejPccfRKM/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 13 → Sides and Angles of Triangles ",
                  urls: [
                     {
                        urlName: "Exercise 13.1 Notes",
                        url: "https://drive.google.com/file/d/1mxU1qNOp5_MUikYpQieTJaT_8MlVv_Vy/view",
                     },
                     {
                        urlName: "Theorem 13.1.1 Notes",
                        url: "https://drive.google.com/file/d/1NF76r5nfvOtVUiuhU7ur3zqv8i9-mUWm/view",
                     },
                     {
                        urlName: "Theorem 13.1.2 Notes",
                        url: "https://drive.google.com/file/d/19SMNXq05PUCq2MIe2IEXOBi-54hquGCh/view",
                     },
                     {
                        urlName: "Theorem 13.1.3 Notes",
                        url: "https://drive.google.com/file/d/1ybrlxAVlUUJMwdJe_MLcL8V0gR3B82Vz/view",
                     },
                     {
                        urlName: "Theorem 13.1.4 Notes",
                        url: "https://drive.google.com/file/d/1N-wAry3xSdLgoSvBwW07JYPV5Z1QUqql/view",
                     },
                     {
                        urlName: "Exercise 13.2 Notes",
                        url: "https://drive.google.com/file/d/1Y5ZrinV2lckKV3J-0nY7da-4mY5cDhqW/view",
                     },
                     {
                        urlName: "Review Exercise",
                        url: "https://drive.google.com/file/d/1JJ_X4Y1RDfxPGvMmQQgySM72aqE-YRRp/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 14 → Ratio & Proportions ",
                  urls: [
                     {
                        urlName: "Exercise 14.1 Notes",
                        url: "https://drive.google.com/file/d/1Lr0BsrzzzmPJCeHZSX2NuhKabYOL3ikn/view",
                     },
                     {
                        urlName: "Theorem 14.1.1 Notes",
                        url: "https://drive.google.com/file/d/1bq9f3HhYrVGvfNESHJmSJHwPruC54YFy/view",
                     },
                     {
                        urlName: "Theorem 14.1.2 Notes",
                        url: "https://drive.google.com/file/d/1S5XLmReJuHpr-pxcRNPF55QbQpk4lLV3/view",
                     },
                     {
                        urlName: "Theorem 14.1.3 Notes",
                        url: "https://drive.google.com/file/d/1oxWzNs7undl5jj2WuqW4mHCa6xck0LOe/view",
                     },
                     {
                        urlName: "Theorem 14.1.4 Notes",
                        url: "https://drive.google.com/file/d/1-vIu4f98j5uG0zmQejBCqbuAMfkby9K1/view",
                     },
                     {
                        urlName: "Exercise 14.2 Notes",
                        url: "https://drive.google.com/file/d/1xrKhvl0Qa2NvE62Wi_P2p-qlcWcxn1T2/view",
                     },
                     {
                        urlName: "Review Exercise Solved MCQs",
                        url: "https://drive.google.com/file/d/1H9BmQkAeCOPEAUJ8gpi0TxI935nvS2jJ/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 15 → Pythagoras' Theorem ",
                  urls: [
                     {
                        urlName: "Exercise 15.1 Notes",
                        url: "https://drive.google.com/file/d/1qL-kjpG0jHhPvwCU4NIV_xV6aXGFzADn/view",
                     },
                     {
                        urlName: "Theorem 15.1.1 Notes",
                        url: "https://drive.google.com/file/d/1pznnEDJYC0JlffW4BS_DsVcEQ11BlNE7/view",
                     },
                     {
                        urlName: "Theorem 15.1.2 Notes",
                        url: "https://drive.google.com/file/d/1LdJMTOI6Pi_5fzcHdAjzxTTI_9kpd_by/view",
                     },
                     {
                        urlName: "Review Exercise Solved MCQs",
                        url: "https://drive.google.com/file/d/1p2uAUKSU3WGyQ3OmPgLUtHX3hzGDMwBU/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 16 → Theorems Related With Area ",
                  urls: [
                     {
                        urlName: "Exercise 16.1 Notes",
                        url: "https://drive.google.com/file/d/1LdJMTOI6Pi_5fzcHdAjzxTTI_9kpd_by/view",
                     },
                     {
                        urlName: "Theorem 16.1.1 Notes",
                        url: "https://drive.google.com/file/d/1YfcVPf1Ckhn1FBCre4tijJN2dUbR-muR/view",
                     },
                     {
                        urlName: "Theorem 16.1.3 Notes",
                        url: "https://drive.google.com/file/d/1HfcN26_yPPzVYBV0Dm7bLaLUvjt877vZ/view",
                     },
                     {
                        urlName: "Theorem 16.1.4 Notes",
                        url: "https://drive.google.com/file/d/17zmm096_OXNUdquWx7nM2yj3sgsuny_s/view",
                     },
                     {
                        urlName: "Exercise 16.2 Notes",
                        url: "https://drive.google.com/file/d/1SpgKR3TGROyLTzTEMs6xQa9a4W075QFe/view",
                     },
                     {
                        urlName: "Review Exercise Solved MCQs",
                        url: "https://drive.google.com/file/d/1BQG7vKeLdRgZGhoo2AqOZ8_QjSzJNb_K/view",
                     },
                  ],
               },
               {
                  ChapterName: "Chapter 17 → Practical Geometry (Triangles) ",
                  urls: [
                     {
                        urlName: "Exercise 17.1 Notes",
                        url: "https://drive.google.com/file/d/14_HxQLiBu57ZGhLjYbsu_Y2HbQYOKQTe/view",
                     },
                     {
                        urlName: "Exercise 17.2 Notes",
                        url: "https://drive.google.com/file/d/1Wl2bTeSoff1lBdCLHn1qeqNedK64XUx2/view",
                     },
                     {
                        urlName: "Exercise 17.3 Notes",
                        url: "https://drive.google.com/file/d/1yN_1VnU4ZqyaV22c4ydwoRfrtcbZBT2P/view",
                     },
                     {
                        urlName: "Exercise 17.4 Notes",
                        url: "https://drive.google.com/file/d/1IP_QUFbfDaOgwn33VeX4KBSE-tJc1CZk/view",
                     },
                     {
                        urlName: "Exercise 17.5 Notes",
                        url: "https://drive.google.com/file/d/13cUJrnIA6JAbUAI_GO9uHw9tFDDhgodS/view",
                     },
                     {
                        urlName: "Review Exercise Solved MCQs",
                        url: "https://drive.google.com/file/d/1byatCzXRtFb6y3EOnnaWMNwAPw1dsxbl/view",
                     },
                  ],
               },
               {
                  ChapterName: "Mathematics Full Book Glossary Notes",
                  urls: [
                     {
                        urlName: "Full Book Glossary Notes",
                        url: "https://drive.google.com/file/d/1rem_Z0CS2YNrCFKQ0a3bEVt54yWvDgpV/view",
                     },
                  ],
               },
            ],
         };

         // function to split data from obejct

         function renderData(dataKey, targetElement) {
            const data = NinthClass[dataKey]; // e.g NinthClass.Englisg or NinthClass[English]
            const targetDiv = document.getElementById(targetElement);
            if (!data || !targetDiv) {
               console.error("Invalid data key or target element.");
               return;
            }
            data.forEach((chapter) => {
               const chapterDiv = document.createElement("div");
               chapterDiv.classList.add("chapter-box");

               const chapterTitle = document.createElement("h3");
               chapterTitle.textContent = chapter.ChapterName;

               const urlsList = document.createElement("ul");
               chapter.urls.forEach((url) => {
                  const listItem = document.createElement("li");
                  const link = document.createElement("a");
                  link.innerHTML = url.urlName;
                  link.href = url.url;
                  link.target = "_blank"; // Open link in a new tab
                  listItem.appendChild(link);
                  urlsList.appendChild(listItem);
               });

               chapterDiv.appendChild(chapterTitle);
               chapterDiv.appendChild(urlsList);
               targetDiv.appendChild(chapterDiv);
            });
            let cls = "9th";
            let sub = dataKey;
            let text = document.createElement("dev");
            text.innerHTML = `
            <p>
            Many of the students prepare notes for their exams better preparation for scoring higher marks in all subjects. So, you need to learn and prepare these ${cls} Class ${sub} notes chapter wise. All ${cls} Class chapters wise MCQS, Short and Long Question Answers are available in PDF and online MCQs quiz Tests. You are here on right place for better preparation of ${cls} class KPK Boards in PDF. 
            </p>

            <p>
            All of ${cls} Class ${sub} Notes in PDF we have uploaded on our website, MASHALWEB, All of study notes chapter wise are available here on our website according to your Provinces Boards. All learning materials ${sub} Chapter Wise Notes are freely available here in PDF format.
</p>

<p>
You can easily Learn and Download ${sub} ${cls} Class PDF Chapter Wise Notes without any cost. There is no any cost to pay for downloading these ${sub} Notes of ${cls} Class. ${cls} Class Science and Arts notes are available here with ${sub} and ${sub} Medium according to your syllabus are available here.
</p>

<p>
Many of students feel difficult to learning ${sub} subject because some subjects are challenging for students. These notes are helpful for you for learning and preparing. All ${cls} Class ${sub} Chapter wise solved exercise are available here. You can also easily prepare ${cls} Class Chapter Wise Past Papers MCQs Quizzes. All Solved MCQs Chapter Wise Quiz tests are available here of KPK Board ${sub} Subject.
</p>

<p>
All of these ${sub} ${cls} Class Notes are made by the higher qualified and experienced Teachers. All ${sub} Chapters definitions, MCQS, Short Questions, Long Questions are available in PDF form for students.

The easy and best way for learning these notes are to design all of ${sub} notes according to your requirement. These ${sub} notes are high quality in PDF that makes easily for Printout in hardcopy for better reading.

</p>
<p>
On our website MASHALWEB, we only not provide you ${sub} notes of ${cls} class all subjects notes are also available here with all Pakistan Boards in PDF. All of ${sub} Notes are made by experienced and great teachers of Govt and Private Colleges and Schools.
</p>
  `;

            document.querySelector(".engCont").appendChild(text);
         }

         // ---- rendring Data ----

         renderData(
            document.getElementById("parent").children[0].id,
            document.getElementById("parent").children[0].id
         );
      </script>
      <% include ./partials/footer.ejs %>
   </body>
</html>
