<!DOCTYPE html>
<html lang="en">
   <head>
      <% include ./partials/head.ejs %>
      <link rel="stylesheet" href="/stylesheets/profile.css" />
   </head>
   <body>
      <% include ./partials/navbar.ejs %>

      <section class="profile-edit">
         <div class="errorShow">
            <% if (locals.error) { %>
            <div><h1><%= error.message %></h1></div>
            <% } %>
         </div>
         <div class="image-edit">
            <form
               action="/upload"
               method="post"
               id="fileform"
               enctype="multipart/form-data"
               style="display: none"
            >
               <input type="file" name="image" id="profileImage" hidden />
            </form>
            <div class="image-div">
               <img
                  src="/images/uploads/<%= user.avatar %>"
                  alt="profileImage"
               />
               <i class="ri-edit-circle-fill editIco"></i>
            </div>
         </div>
         <div class="info-edit">
            <form action="/updateInfo" method="post">
               <label for="userName">Name</label>
               <input
                  type="text"
                  name="username"
                  id="userName"
                  value="<%= user.username %>"
               />
               <label for="email">Email</label>
               <input
                  type="text"
                  name="email"
                  id="email"
                  value="<%= user.email %>"
               />
               <label for="about">About</label>
               <textarea name="bio" id="about" cols="30" rows="10">
<%= user.bio %></textarea
               >
               <label for="">Your Role</label>
               <select name="role" id="role">
                  <option value="Student">Student</option>
                  <option value="Teacher">Teacher</option>
                  <option value="Indiviual">Indiviual</option>
               </select>
               <button type="submit">Update</button>
            </form>
         </div>
      </section>
      <script>
         document.querySelector(".editIco").addEventListener("click", (e) => {
            document.querySelector("#profileImage").click();
         });
         document
            .querySelector("#profileImage")
            .addEventListener("change", function () {
               document.querySelector("#fileform").submit();
            });
      </script>
   </body>
</html>
<% include ./partials/footer.ejs %>
